body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-image: url("avengers.jpg");
}
.container {
    display: flex;
    justify-content: center;
    background-color: rgba(127, 105, 133, 0.7);
}

.container h1{
    font-size:54px;
    color: gold;
}
.container h2{
    color: #f81008;
    font-size: 40px;
    font-weight: bolder;
}

.searchbar{
    width: 100%;
    position: relative;
    display: flex;
}

#heroes{
    width: 400px;
    border: 1px solid rgb(192, 189, 189);
    box-shadow: 1px 1px rgb(192, 189, 189) ;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #779476;
    font-size: 30px;
}

#search{
    width: 90px;
    border: 3px solid rgb(45, 105, 5);
    background: rgb(108, 207, 42);
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 1px 1px rgb(45, 105, 5) ;
}

.container #result{
    color: white;
}

.container #result h2{
    color: red;
    
}

.container #result h3{
    color:rgb(4, 0, 255);
    font-size:30px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;

}

.container #result h4{
    color:black;
    font-size: 23px;
}

p{
    font-weight: bold;
    font-style: italic;
    /*background-color: #e1ad01;*/
}